.button-close {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  position: absolute;

  cursor: pointer;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: inherit;
  background-origin: border-box;
}

.button-close:hover,
.button-close:focus {
  fill: $blue-color;
  transform: fill;
}
